nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  background-color: #fff;
  box-shadow: 1px 2px 1px 2px rgba(255,255,255,.15);
}

.mine {
  display: flex;
  flex-direction: column;
  /*justify-content: center;
  align-items: center;*/
  gap: 5px;
  cursor: pointer;
  width: fit-content;
}

.mine span {
  width: 2.5rem;
  height: 5px;
  background-color: #333;
  border-radius: 5px;
  transition: transform 0.4s ease;
  outline: none;
}

.logo {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
}

.mine.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 8px);
}

.mine.active span:nth-child(2) {
  opacity: 0;
}

.mine.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -8px);
}



.links {
  /* background: rgba(0,0,0,.05); */
  background-color: #fff;
  /* backdrop-filter: blur(6px); */
  z-index: 99999;
  transition: 0.4s ease;
  opacity: 0;
  position: fixed;
  width: 100%;
  transform: translate(0,-300px);
}

.links ul {
  padding: 2em 0 2em 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.links ul li {
  list-style: none;
}

.links ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.3em;
  font-weight: 600;
  transition: .3s ease;
  padding: 0 10px 0 10px;
  border-radius: 6px;
  background-color:  #0C94E1;
}



.links ul li a:hover {
  background-color: rgba(12, 148, 225, .5);
}

.links.active {
  opacity: 1;
  transform: translate(0,0);
}


.links ul li.on a {

  background-color: rgba(12, 148, 225, .5);

}


.logo-img {
  height: 50px;
  border-radius: 25px;
  margin: 0;
  transform: translateY(5.2px);
}
