.app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Cairo, sans-serif;
}


input:invalid {
  border: solid red 2.5px;
}

.one {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.one input {
  background-color: #fff;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 5px 0 5px 0;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.1);
}

.one input::placeholder {
  font-family: "Cairo", sans-serif;
}

.one input:focus {
  outline: #3b82f6 1px solid;
}

.one .rateDiv {
  display: flex;
  flex-direction: row;
}

.one .rateDiv p {
  font-size: 20px;
  font-weight: bold;
  /* gap: 5px; */
}

.rate {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: #fff 0.5px solid;
  margin: 15px auto;
  width: 145px;
  text-align: center;
}

.bad {
  --main: #dc2626;
  border: 1px solid #fff;
  background-color: var(--main);
  color: #fff;
  border-radius: 5px;
}

.good {
  --main: #22c55e;
  border: 1px solid #fff;
  background-color: var(--main);
  color: #fff;
  border-radius: 5px;
}

.norm {
  --main: #f97316;
  border: 1px solid #fff;
  background-color: var(--main);
  color: #fff;
  border-radius: 5px;
}

.error {
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 12px !important;
  width: auto;
}

.bad,
.norm,
.good {
  box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.1);
}

.two,
.three,
.four {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.two input::placeholder {
  font-family: "Cairo", sans-serif;
  text-align: center;
}

.bankNameAr {
  font-weight: bold;
}

.bankNameAr,
.bankNameEn,
.three .data .shrt,
.three .data .jben,
.three .data .off {
  position: relative;
  text-align: center;
  margin: 10px auto;
}

.three .data > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* row-gap: 5px; */
}

.three .data > div p:first-child {
  font-weight: bold;
  margin-left: 4px;
}

/*    navbar     */

.navbar2 + * {
  margin-top: 4rem;
}

/* 
 four section
*/

/* .data > * { */
/*   display: flex; */
/*   flex-direction: column; */
/* } */

.four .data {
  margin-top: 1rem;
}

.four .data * .data-item-value {
  font-weight: bold;
  display: inline-block;
  margin-right: 6px;
}

/*     footer      */
.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background: white;
  text-align: center;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.8rem;
}

.five {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.my-label {
  color: white;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  margin-left: 4px;
  transform: translateY(1px);
}

.my-input {
  border-radius: 6px;
}

.five select {
  text-align: center;
  background-color: white;
  width: 130px;
  border: solid rgba(34, 33, 33, 0.5) 2px;
}

.certVal-con,
.month-con {
  display: flex;
  flex-direction: row;
  padding: 4px;
  /* width: 150spx; */
}

.five #certVal {
  text-align: center;
  width: 130px;
  font-weight: bolder;
}

.five .outputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.five #certAd,
.five #certOut {
  color: black;
  width: 40px;
  padding: 0 16px 0 16px;
  text-align: center;
  background: white;
  border-radius: 8px;
  font-weight: bolder;
}

.five #select {
  padding: 4px;
}

.five #monthVal {
  font-weight: bolder;
}

.five .page-title {
  color: #fff;
  font-weight: bolder;
  transform: translateZ(-2px);
  margin-bottom: 2rem;
}

.five .outputs span {
  background-color: #f97316;
}

.five > a, .six > a {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  color: #3b82f6;
  font-weight: bold;
  text-decoration: none;
}
.five > a:visited, .six > a:visited {
  color: #316ac7;
}
.five > a:hover, .six > a:hover {
  text-decoration: underline;
}

.five .form-submit-btn, .six form button {
  color: white;
  font-family: Cairo, sans-serif;
  background: #333;
  margin: 0 auto;
  width: 40%;
  display: block;
  font-size: 1.2em;
  padding: 5px 5px;
  font-weight: 700;
  border: 2px solid #fff;
  border-radius: 1em;
  transition: .5s ease;
  margin-bottom: .8em;
}


.five .inputs {
  margin-bottom: .8em;
}

.five .form-submit-btn:hover, .six form button:hover {
  background: white;
  color: #333;
  border-color: #333;
}


.six form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}


.six form input {
  padding: .6em;
  color: #333;
  background-color: #fff;
  font-weight: bold;
  border-radius: 10px;
}

.six form select {
  padding: .6em;
  padding-left: 1px;
  color: #333;
  font-weight: 800;
  background-color: #fff;
  border-radius: 10px;
}

.six .output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: wheat;
  font-weight: 600;
  position: relative;
}


.six p {
  margin-bottom: -8px;
}

.six input {
  text-align: center;
}

.six .output span {
  font-weight: 900;
  text-decoration: underline;
}
